
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
// @import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');

// Variables (incl Bootstrap overrides)
@import 'variables';

// Bootstrap (reset/grid only)
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// Typography
@import 'typography';

// Utilities/Helpers
@import 'utilities';

// Browser
@import 'browser';

// Forms
@import 'forms';

// Plain CSS
@import 'old';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

:root {
    overflow-y: scroll;
}

a:hover {
    text-decoration: none;
}

#app { overflow-x: hidden; }

.row img {
    max-width: 100%;
}