body {
    background: #fff;
    background: #f6f9fc;
    margin:0px;
    padding:0px;
    color:#333;
}

a, router-link {
    transition: color .2s ease, border-bottom-color .4s ease;
    text-decoration:none;
    &:hover {
        color: #6b7c93;
        cursor: pointer;
    }
}

%nav-external-shared {
    text-align: right;
    a, router-link {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 10px;
    }
}

header {
    background: #fff;
    position:relative;

    nav.brand {
        text-align: left;
        a, router-link {
            color:#333;
            text-align:right;
        }
    }

    nav.main {
        text-align: center;
        a, router-link {
            color: #333;
            margin: 0px 5px;
            border-bottom: 1px solid rgba(51, 51, 51, 0);
            &:active, &.router-link-exact-active {
                border-bottom-color: rgba(51, 51, 51, 1);
            }
        }
    }

    nav.external {
        @extend %nav-external-shared;
        a, router-link {
            color: #333;
        }
    }

    // &:after {
    //     content: "";
    //     background-color: #fff;
    //     width: 100%;
    //     height: 145px;
    //     position: absolute;
    //     bottom: -80px;
    //     right: 0px;
    //     transform: skewY(-4deg);
    // }
}

main {
    width: 100%;
    min-height: 600px;
    position:relative;

    // &:after {
    //     content: "";
    //     background-color: #f6f9fc;
    //     width:100%;
    //     height:138px;
    //     position:absolute;
    //     bottom:-68px;
    //     right:0px;
    //     transform: skewY(-4deg);
    // }
}

footer {
    width: 100%;
    background: #e74430;
    color: #fff;
    text-align: left;

    .nav {
        text-align: right;

        .internal {
            a, router-link {
                color: #fff;
                margin-left:15px;

                &:hover {
                    color: #ccc;
                }
            }
        }

        .external {
            @extend %nav-external-shared;
            padding-bottom: 20px;
            a, router-link {
                color: #333;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

// Card
.card {
    width: 100%;
    border-radius:8px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    padding: 80px 50px;
    p {
        margin: 25px 0px;
    }
}